:root {
    --main-color: #00eeff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;

    /* cor extra*/
    --color-01: #999999;
    --color-03: #7950f2;
    --color-05: #232323;
}

body {
    all: unset;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#064e53;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1.4rem;
    background: rgba(0,0,0,0.6);
    border-radius: 1rem;
    padding: 3rem 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
}

.container input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1rem;
    padding: .4rem;
    border-bottom: 1px solid var(--text-color);
    width: 50%;
}

.container input::placeholder {
    color: var(--text-color);
}

.container button {
    padding: .7rem;
    width: 50%;
    font-size: 1rem;
    background-color: #329097;
    border: none;
    border-radius: 1rem;
    color: var(--text-color);
    margin-top: 2rem;
    cursor: pointer;
    transition: .4s;
}

.container button:hover {
    background-color: #5dccd4;
}

#log {
    margin-top: 20px;
    font-size: 1.2em;
}

#message {
    margin-top: 20px;
    color: red;
}


.hidden {
    display: none;
}